@model DateValidator.Models.DateModel
@{
    ViewData["Title"] = "Resultado";
}

<div class="text-center">
    <h1 class="display-4">Resultado</h1>
    <p>La fecha ingresada es: @Model.Date</p>
</div>
